* {
  box-sizing: border-box;
}
body {
  height: 697px;
  width: 100%;
  background-image: url("./assets/fondo-dibujos-animados-pared-ladrillo_97231-2003.webp");
  font-family: "Odibee Sans";
}
.root {
  height: 697px;

  max-width: 581px;
  margin: 0 auto;
}
